page-home {
  .content {
    background: #000000;
  }

  #game {
        canvas {
            margin: 0 auto;
        }
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

  .pull-right {
    float: right;
  }

  .top-left-share {
    position: absolute;
    top: 10px;
    left: 10px;
    .share-button {
        width: 30px;
        height: 30px!important;
        margin: 0px!important;
        background: #fdfd00!important;
        border-radius: 100%;
        * {
          color: #000000;
        }
    }
  }

  .ios {
    .points {
    	padding-top: 40px;
    	padding-bottom: 10px;
    }

    .timer {
    	padding-top: 40px;
    	padding-bottom: 10px;
    }

    .lives {
    	padding-top: 40px;
    	padding-bottom: 10px;
    }

    .top-right-close {
      top: 40px!important;
    }

    .top-left-share {
      top: 40px!important;
    }
  }

  .heading-after-game-over {
    text-align: center;
    font-family: 'Sunspire';
    font-size: 19px;
    margin-top: 40px;
    color: #ffffff;
    span.h {
      font-family: 'Sunspire';
    }
  }

  .ios {
    .heading-after-game-over {
      margin-top: 80px;
    }
  }

  .top-right-close {
    position: absolute;
    top: 10px;
    right: 10px;

    * {
      font-size: 30px;
    }
  }

  .tutorial {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: rgba(0,0,0,0.5);
  }

  .sortTutorial {
    position: absolute;
    z-index: 110;
  }

  .tutorial-text {
    position: absolute;
    z-index: 110;
    text-align: center;

    .tutorial-bubble {
      margin-top: 70px;
      background: #ffffff;
      width: 70%;
      display: inline-block;
      border-radius: 10px;
      font-size: 20px;
      padding: 10px;
      color: #b10000;
      &.lastStage {
        margin-top: -10px;
      }
    }

    .next-button {
      display: inline-block;
      padding: 5px;
      background: #209300;
      font-size: 18px;
      color: #ffffff;
      margin-top: 13px;
      border-radius: 10px;
      &.nextFinished {
        background: #ff0000;
      }
    }
  }

  .showcaseTop {
    z-index: 101;
  }

  .showcaseTopStage {
    z-index: 101;
    background: #ffffff;
  }

  .bubble-wrap {
    position: fixed;
  }
  .center-bubble{
    &:before{
      content: '';
      display: block;
      background: #fcfafa;
      position: relative;
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
      top: 2.5525vw;
      left: 4.4165vw;
      width: 2.2vw;
      height: 1vw;
    }

    .timer-bubble {
      font-size: 26px;
      margin-top: 12px;
    }
  }

  .unlimited {
    font-size: 13px;
    position: relative;
    top: -5px;
    display: inline-block;
  }

  .bubble {
    // font-family: 'Kaushan Script', cursive;
    font-family: 'Ceviche One', cursive;
    // font-family: 'Corben', cursive;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    // box-shadow: inset 0px -6px 2px 0px rgba(62, 62, 62, 0.4);
    &.hide {
      display: none;
      pointer-events: none;
    }
}

  .red {
    background-color: #ff0000;
  }

  .green {
    background-color: #25a718;
  }

  .yellow {
    background-color: #8b8b00;
  }

  .blue {
    background-color: #0c74a9;
  }

  .pink {
    background-color: #a7188e;
  }

  .violet {
    background-color: #8A2BE2;
  }

  .brown {
    background-color: #934451;
  }

  .orange {
    background-color: #fa5b0c;
  }

  .black {
    background-color: #000000;
  }

  .col-edge {
    font-size: 2.2em;
    border-bottom: 1px solid #000000;
    background: #ffffff!important;
  }

  .see-results {
    width: 90%;
    margin: auto;
  }

  .timer-button {
    font-family: 'Sunspire';
  }

  .static-timer {
    font-size: 30px;
    margin-top: 0px;

    span {
      position: relative;
      top: -3px;
      display: inline-block;
      width: 23px;
    }
  }

  .timer-icon {
    color: #513be9;
  }

  .top-right {
    position: absolute;
    right: 0px;
    width: 7em;
    top: 0px;
    border-left: 1px solid #989898;
  }

  .top-center {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    text-align: center;
    // border-left: 1px solid #ddd;
  }

  .top-left {
    position: absolute;
    left: 0px;
    width: 7em;
    top: 0px;
  }

  .points {
    border-right: 1px solid #000000;
    // border-bottom: 1px solid #ddd;
    // border-left: 1px solid #ddd;
    .staging {
      font-size: 20px;
      margin-top: 6px;
      ion-icon {
        margin-left: 5px;
      }
    }
  }

  .chosen-color {
    .color-div {
      width: 60px;
      height: 60px;
      display: inline-block;
    }

    .color-text {
      font-size: 14px;
      margin-top: 5px;
    }
  }

  ion-label {
    white-space: normal;
  }

  .problems {
    font-size: 29px;
    .out-of-problems {
      font-family: 'Gilroy-b';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 13px;
    }
  }

  .happy {
    text-align: center;
    font-size: 4em;
  }

  .thank-you {
    font-size: 20px;
    margin: 18px;
    font-family: 'Gilroy-b';
    color: #000000;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
  }

  .smiley {
    // font-size: 3em;
    text-align: center;
    img{
      width: 200px;
    }
  }


  .heart-break {
    text-align: center;
    display: inline-block;
    width: 200px;
    background: #ffffff;
    border-radius: 100%;
    height: 200px;
    padding-top: 12px;
    margin-top: 70px;
    margin-bottom: 20px;
    img{
      width: 170px;
      padding-top: 30px;
    }
  }

  .final-score{
    font-family: initial;
    color: #6f1111;
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 10px;
    span{
      // color: #000;
      font-size: 3.4rem;
      font-weight: 500;
    }
  }

  .perishable-score {
    font-size: 20px;
    color: #9a5856;
    font-weight: bold;

    .icon {
      font-size: 14px;
    }

    .score-multiply {
      font-size: 12px;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      top: -2px;
    }
  }

  .share{
    margin-top: 30px;
    h4{
      font-family: 'Lobster', cursive;
      color: #5f9ea0;
      font-weight: 600;
    }
    ion-icon{
      font-size: 3.8rem;
    }
    span{
      color: #5f9ea0;
      // font-size: 2em;
      text-transform: capitalize;
    }
  }
  .button{
    height: 5rem;
    // font-size: 3rem;
    background-color: #fff;
    padding: 15px;
    margin: 8px 10px;
  }


  .md-btn-raised {
    font-size: 150px;
    margin-bottom: 0px;
    margin-top: -30px;
  }

  .initial-hide {
    display: none;
    text-align: center;
    margin-top: 13px;
    font-size: 30px;
  }

  .rightpoints .rightpoints {
    display: block;
    color: #005b12;
  }

  .wrongpoints .wrongpoints {
    display: block;
    color: #dd0000;
  }

  .congrats {
    margin-top: 40px;
    display: inline-block;
    width: 90%;
    border-radius: 10px;
    background: #ffffff;
    padding: 25px;
    .greeting {
      font-family: 'Gilroy-b';
      font-size: 35px;
      text-align: center;
      color: #000000;
    }

    .player-greeting {
      font-size: 26px;
      text-align: center;
      color: #000000;
      margin-top: 8px;
    }

    .player-winning {
      font-family: 'Gilroy-b';
      font-size: 60px;
      text-align: center;
      color: #000000;
      margin-top: 5px;

      .fa-inr {
        font-size: 30px;
      }
    }
  }

  .timer {
    // border-bottom: 1px solid #ddd;
    // color: green;
    -webkit-animation-name: timer-color; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 60s; /* Safari 4.0 - 8.0 */
    animation-name: timer-color;
    animation-duration: 60s;
  }

  .lives {
    border-left: 1px solid #000000;
    .lives-heart {
      position: relative;
      top: 1px;
    }
    .staging {
      ion-icon {
        margin-right: 5px;
      }
      font-size: 20px;
      margin-top: 7px;
    }
  }
  .fnt-w-700{
    font-weight: 700;
  }
  .lives-track{
    margin: 0 3px;
    position: relative;
    top: 2px;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes timer-color {
    0%   {color: green;}
    80%  {color: #9a8a00;}
    100% {color: red;}
  }

  /* Standard syntax */
  @keyframes timer-color {
    0%   {color: green;}
    80%  {color: #9a8a00;}
    100% {color: red;}
  }

  // Calculation process CSS


    .animation-outer-container {
      .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -200px;
        border-radius: 2px;
        color: #fff;
      }

      .center {
        position: absolute;
        width: 220px;
        height: 220px;
        top: 90px;
        left: 90px;
      }

      /* ============ Loader 3 ============== */
      $color1: #291a3b;
      $color2: #fdfd00;

      .loader3 {
          position: relative;
          width: 40px;
          height: 40px;
          display: inline-block;

          &:after, &:before {
              position: absolute;
              content: "";
              background-color: $color2;
          }

          &:after {
              height: 30px;
              width: 30px;
              left: 5px;
              top: 12px;
              border-radius: 3px;
              background-color: $color1;
              animation: loader-rotate1 1.8s ease-in-out infinite;
              animation-direction: alternate;
              transform-origin: center center;
          }

          &:before {
              height: 40px;
              width: 40px;
              top: 7px;
              left: 0px;
              border-radius: 7px;
              background-color: $color2;
              animation: loader-rotate2 1.8s ease-in-out infinite;
              animation-direction: alternate;
              transform-origin: center center;
          }
      }

      @keyframes loader-rotate1 {
          0% {
              transform: rotate(0deg) scale(1);
          }
          65% {
              transform: rotate(-90deg) scale(0.3);
          }
          100% {
              transform: rotate(270deg) scale(1.2);
          }
      }
      @keyframes loader-rotate2 {
          0% {
              transform: rotate(0deg) scale(1);
          }
          45% {
              transform: rotate(90deg) scale(0.8);
          }
          100% {
              transform: rotate(-270deg) scale(1.1);
          }
      }

      .first-name {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        font-family: 'Gilroy-b';
      }

      .animated-one {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: linear;
      }

      .delay-0 {
        animation-delay: 0s;
      }
      .delay-1 {
        animation-delay: 1s;
      }
      .delay-2 {
        animation-delay: 2s;
      }
      .delay-3 {
        animation-delay: 3s;
      }

      @-webkit-keyframes fadeInUp {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }

        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }

      @keyframes fadeInUp {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }

        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }

      .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
      }
    }

    .animation-container {
      margin-top: 30px;
      margin-bottom: 20px;
      position: relative;
      height: 320px;
    }


    @media screen and (max-width: 320px) {
      .timer-button {
        font-size: 25px;
        padding-top: 5px;
      }

      .user-photo-main {
        width: 80px!important;
        height: 80px!important;
      }

      .slider-main .slide-heading {
          margin-top: 55px!important;
      }

      .animation-outer-container .loader3:after {
        left: 15px!important;
      }

      .animation-outer-container .loader3:before {
        left: 10px!important;
      }

      .animation-container {
        height: 200px;
      }

      .right {
        .profile-information {
          right: 105px!important;
        }
      }

      .profile-information {
        font-size: 20px!important;
      }

      .vs-information {
        margin-bottom: 9px!important;
        margin-top: 0px!important;
        font-size: 37px!important;
      }

      .congrats {
        margin-top: 25px!important;
        .greeting {
          font-size: 27px!important;
        }

        .player-greeting {
          font-size: 20px!important;
          margin-top: 8px!important;
        }

        .player-winning {
          font-size: 30px!important;
          .fa-inr {
            font-size: 20px!important;
          }
        }
      }
    }

    .two-participants {
      .user-photo-main {
        width: 100px;
        height: 100px;
        background-size: cover;
        display: inline-block;
        margin-left: 20px;
        border-radius: 100%;
        border-radius: 100%;
      }

      .profile-winner {
        display: inline-block;
      }

      .right {
        .profile-winner {
          float: right;
          margin-right: 20px;
        }
      }

      .right {
        .profile-information {
          right: 128px;
        }
      }

      .profile-information {
        display: inline-block;
        position: absolute;
        top: 11px;
        margin-left: 3px;
        color: #ffffff;
        font-size: 26px;
        text-align: center;
        .designation {
          font-family: 'Gilroy-b';
        }

        .points-number {
          border-right: none;
          ion-icon {
            font-size: 22px;
          }
          .points-value {
            font-family: 'Gilroy-b';
          }
        }

        .money {
          background: #ffffff;
          padding: 3px;
          border-radius: 10px;
          color: #000000;
          font-size: 19px;
          margin-top: 7px;
          min-width: 60px;
          text-align: center;
          .fa-inr {
            font-size: 14px;
            color: #000000;
          }
        }

        .points {
          font-size: 26px;
        }
      }

      .participant {
        position: relative;
      }

      .vs-information {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 10px;
        color: #ffffff;
        font-size: 37px;
        span {
          font-family: 'Lobster-m';
        }
      }
    }

    // Funfacts section
    .funfacts {
      &.slider-main {
        .slide-heading {
          color: #ffffff;
          margin-top: 5px;
          margin-bottom: 10px;
          font-size: 20px;
          font-family: 'Gilroy-b';
          text-align: center;
        }
        .slider-text {
          margin-top: 5px;
          padding: 6px 15px;
          color: #ffffff;
          * {
            font-family: 'Gilroy-b';
          }
        }
      }

      .facts-loader {
        .lds-ellipsis {
          display: inline-block;
          position: relative;
          width: 64px;
          height: 64px;
        }
        .lds-ellipsis div {
          position: absolute;
          top: 27px;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background: #fff;
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        .lds-ellipsis div:nth-child(1) {
          left: 6px;
          animation: lds-ellipsis1 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(2) {
          left: 6px;
          animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(3) {
          left: 26px;
          animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(4) {
          left: 45px;
          animation: lds-ellipsis3 0.6s infinite;
        }
        @keyframes lds-ellipsis1 {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
        @keyframes lds-ellipsis3 {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(0);
          }
        }
        @keyframes lds-ellipsis2 {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(19px, 0);
          }
        }
      }
    }
    // Funfacts section

}
